{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $.get("/forum/json-post/", function(data) {
            for (i=0; i<data.length; i++){
                $('#forum').append(`
                    <div id="${data[i].id}--task">
                        <div class="container-fluid">
                            <div class="card" style="width: 50rem;">
                                <div class="card-body">
                                    <h5 class="card-title">${data[i].fields.title}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">${data[i].fields.username}</h6>
                                    <h6 class="card-date mb-2 text-muted">${data[i].fields.date}</h6>
                                    <p class="card-text">${data[i].fields.content}</p>
                                    <a href="/forum/delete/${data[i].pk}" class="btn btn-light delete mb-2">Delete</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                `)
            }
        })

        $("#submit_btn").click(function(){
            $.post("/forum/create/", {
                title: $("#title").val(),
                content: $("#content").val()
            },
            function(result, status){
                if (status == 'success'){
                    $("#forum").append(`
                    <div id="${result.id}--task"> 
                        <div class="container-fluid">
                            <div class="card" style="width: 50rem;">
                                <div class="card-body">
                                    <h5 class="card-title">${result.title}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">${result.username}</h6>
                                    <h6 class="card-date mb-2 text-muted">${result.date}</h6>
                                    <p class="card-text">${result.content}</p>
                                    <a href="/forum/delete/${result.id}" class="btn btn-light delete mb-2">Delete</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    `);
                    $('#name').val('')
                    $('#date').val('')
                    $('#progress').val('')
                    $('#description').val('')
                }
            });
        });
    });


</script>

<body>
    <!-- Modal -->
    <br>
    <div class="modal" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createModalLabel">New Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                </div>
            <div class="modal-body">
                {% csrf_token %}
                <label for="title" class="form-label">Title</label><br>
                <input type="text" id="title" class="form-control" name="title" placeholder="Title"> <br>
                <label for="content" class="form-label">Content</label>
                <input type="text" id="content" class="form-control" name="content" placeholder="Type your question here..."><br>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="submit_btn" type="button" class="btn btn-primary create" id="add-task" data-bs-dismiss="modal">Add</button>
            </div>
        </div>
        </div>
    </div>
</body>

<div class="jumbotron">
    <h1 class="display-4">StudyBee Discussion Forum</h1>
    <p class="lead">Welcome to our discussion forum. You can post your question or any related queries by simply clicking on the add post button.</p>
    <!-- <hr class="my-4"> -->
    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button" data-bs-toggle="modal" data-bs-target="#createModal"> Add Post</a>
    </p>
    <div class="container-fluid">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>    
    </div>
    <div id="forum"></div>
</div>



{% endblock content %}